@font-face {
font-family: "NotoSans";
src: url("font/NotoSans-VariableFont.ttf") format("truetype")
}

@media print {
    body {-webkit-print-color-adjust: exact;} 
    .head, header {display: none;}


}
@media print{@page {size: landscape}}



html{
    width: 100%;
    height: 100%; 
    overflow:auto;
    margin: 0px;
    padding: 0px;
}

body { 
    height: 100%; 
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slide{
    height: calc(100% - 2px); 
    width: calc(100% - 2px);
    border: 1px solid #000;
    /*height: 794px;
    width: 1114px;*/
}


.description{
    font-family: "NotoSans";
    width: calc(100% - 80px);
    margin-left: 40px;
    background-color: rgb(196, 237, 254);
    color: #000;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;

}
.container{
    width: calc(100% - 100px);
    margin: 50px;
}

.file{
    position: relative;
   
    left: 5px;
    background-color: rgb(165, 238, 40);
    padding: 5px;
    display: inline;
    margin-left: 40px;
    border-radius: 5px;
}

.title{
    font-family: "NotoSans";
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
}

code{
    font-size: 20px;
    width: 90%;
}

.number-page{
    position:relative;
    top: calc(100% - 50px);
    left: calc(100% - 50px);
    width: 40px !important;
    height: 40px !important;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}


.cover{
    font-family: "NotoSans";
    padding: 10px;
}

.maintitle{
    font-family: "NotoSans";
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
    overflow: hidden;

}

.author{
    margin-top: 10px;
    font-size: 20px;
    text-align: center ;
}

.institute{
    text-align: center ;
}


 .course{
    text-align: center ;
    color:#aaa;
}

.btn-controlslide{
    border: 1px #000 solid;
    padding: 5px;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    top: 50%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#btn-back-slide{
    opacity: 0.2;
    left: 10px;
     display: none;
}

#btn-back-slide:hover{
    opacity: 1;
    display: block;
    cursor: pointer;
}

#btn-next-slide{
    opacity: 0.2;
    right: 10px;
    display: none;
}

#btn-next-slide:hover{
    opacity: 1;
    display: block;
    cursor: pointer;
}